<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <button mat-raised-button>About Me</button>
    <mat-divider></mat-divider>
    <button mat-raised-button>Search</button>
    <mat-divider></mat-divider>
    <button mat-raised-button>Portfolio</button>
    <mat-divider></mat-divider>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>